.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    margin-left:0;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.custom-brand1{
  font-style:oblique;
  letter-spacing:1px;
  color:black

}

.custom_css1{
  min-height: 100vh;
  display: flex; 
  flex-direction: column;
  background-size: auto;

  background:linear-gradient(#F7F3E9,#A8D5BA);
}

.small_screens{
  margin-left:110px;
  font-size:22px
}
@media (max-width: 576px) {
  .small_screens {
    margin-left: 0; 
    text-align: center; 
  }
}
.task-item{
  font-size: 24px;
  font-weight: 500;
  margin-left: 10px;
}
@media (max-width: 576px) {
  .task-item {
    font-size: 18px; 
    margin-left: 5px;
    margin-right: 5px;
  }

  .task-item button {
    font-size: 16px; 
    margin-left: 5px;
    margin-right: 5px;
  }
}


input::placeholder {
  color: #D4A373; /* Change this to your desired color */
  opacity: 1; /* Ensure full opacity in some browsers */
}
textarea::placeholder {
  color: #D4A373; /* Change this to your desired color */
  opacity: 1; /* Ensure full opacity in some browsers */
}
.body{
  background-color: "#278f52";
}
.accordion-button:focus,
.accordion-button:not(.collapsed),
.accordion-button.collapsed {
    box-shadow: none !important;
    outline: 0 !important;
    border: none !important;
}
.btn-icon {
  width: 20px;  /* Adjust size */
  height: 20px;
  margin-right: 8px; /* Space between icon and text */

}
@keyframes slideIn {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
.custom-nav-link {
  color: #FAF3DD !important;
  margin-right: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.custom-nav-link:hover {
  background-color: #77BFA3;
  color: #FAF3DD !important;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}